@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import "tailwindcss";

:root {
  --gradient-gold: linear-gradient(to right, rgb(145, 127, 105), rgb(240, 225, 190));
}

.gradient-gold {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: var(--gradient-gold);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

body {
  font-family: 'Inter', sans-serif;
}

[data-aos] {
  will-change: transform, opacity;
}